logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
auth_info_baileys/

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage
*.lcov

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

node_modules/
jspm_packages/

*.tsbuildinfo

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

.env
.env.test

.cache

.next

.nuxt
dist

.cache/

.serverless/

.fusebox/

.dynamodb/

.tern-port

.vscode-test

dist/
build/

baileys_store/
auth_info.json

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store

Thumbs.db
